.top-bar
  Anonymous: #{@unique_id}

%section
  %ul(class='todo-list')
    - if not @todos.nil?
      - @todos.each do |todo|
        %li(class='todo')
          %div.left
            %span.voteicon
              %form(action='/todo/vote/#{todo.id}' method='post')
                %input(type='button' id='submit' value='⇡' class='button')
                %span.points
                  #{todo.points ? todo.points : 0}  
          %p(class='content content#{todo.flag}')
            #{todo.content}
          .todo-bottom-item
            %span.deleteicon    
              %form(action='/todo/delete/#{todo.id}' method='post')
                %input(type='button' id="delete" value='x' class='button')
    
